.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 9rem;
    color: var(--main-text);
}

.auth-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--main-text);
    text-shadow: 0 0 3px var(--insight-calculation-top-gradient), 0 0 10px var(--insight-calculation-bottom-gradient);
}

.auth-form input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--insight-card-border);
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: background 0.2s, border-color 0.2s;
}

.auth-form input:focus {
    background: var(--input-form-focus);
    color: var(--main-text);
}

.auth-form label {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    color: var(--main-text);
    text-shadow: 0 0 3px var(--insight-calculation-top-gradient), 0 0 10px var(--insight-calculation-bottom-gradient);

}